
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    
    .content {
        max-width: 1050px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
          
        .main {
          overflow: hidden;
          margin-top: 30px;

          .sidebar {
            width:210px;
          }

          .maincontent { 
            margin-left:1rem;

          }
          
      }
    }
  }
  